[2016-09-28 16:19] JamesIves opened #3 "Responsive Scaling"
Lots of issues with responsive components of the page. Images are getting the incorrect aspect ratio and there's a lot of overflow.

This is something I can look into unless somebody already is.

[2016-09-28 16:39] RyanCCollins commented on #3
This was just meant to be a demo to get you guys started, not meant to be a beautiful production ready piece.  This would be a great thing to start working on, however.

[2016-09-29 18:23] RyanCCollins opened #7 "Finish color theme"
I've set us up with a custom fork of Grommet, located [here](https://github.com/udacityalumni/grommet).  This contains a custom Scss theme for our projects.  I took the color from the Udacity website as a starting place, but we will need to better define this theme from the design team.

Color swatch is located here: https://coolors.co/89a2b5-20bce5-27c879-354651-f5f5f1

[2016-09-29 18:24] RyanCCollins opened #8 "Mobile design"
We need some help with creating mobile design for the entire site.  We should focus on the mobile navigation and also potentially move the profile section into a menu on the navigation.  We will also need to add mobile responsiveness to images and stuff like that.

[2016-09-29 18:28] RyanCCollins commented on #3
@JamesIves I have created a new ticket and am going to close this one.  We need a few people to work on the mobile design of the site.  Would love some help on that!  Thanks!

[2016-09-29 18:28] #3 closed

[2016-09-29 21:56] RyanCCollins opened #13 "Implement Search Field"
The search field might be one of the most complex components.  We probably want it to search multiple areas, article, meetups, etc.

A site that I use called Hashnode has an awesome search bar that I think we can emulate.

See here: https://hashnode.com/

The best I can tell, when the search bar is typed into, it pushes to a new route and then it reactively loads the search results.

I have implem

[2016-09-29 22:51] RyanCCollins opened #14 "Add footer to design"
We need to implement a sitewide footer component.  (See below for a demo mockup)

[2016-09-30 14:36] RyanCCollins opened #15 "Add Single Article Route"
The articles are now hooked into the API.  We need a route for viewing a single post.  Right now, when you click on one of the featured articles, it brings you to a blank route.

The single post view needs to hit the api to load the post because it needs to be accessible from a search engine.  You can search for post by the slug that is passed in the URL.

[2016-09-30 14:40] RyanCCollins opened #16 "Admin Dashboard"
The `/admin/content-dashboard` route shows us the UI that we will need for the Admin to be able to write posts.

We need to implement this route according to the mockups.

[2016-09-30 14:45] RyanCCollins opened #17 "CMS"
We need to transition the CMS prototype into the client app.  Most of the hard work has been done, but hooking this into the API will be quite an accomplishment.

[2016-09-30 14:48] RyanCCollins opened #18 "User Profile"
We will need a route for user's to access their profile information.

Keep in mind, there are three classes of users and no mockups for this yet, so only implement common functionality until further notice.

[2016-09-30 15:55] bryanj4 commented on #18
I can work on this.

[2016-09-30 15:57] RyanCCollins commented on #18
Cool!  Let's see if we can get some mockups, but that sounds great!

[2016-09-30 16:01] bryanj4 opened #19 "Goal of Udacity Alumni Site"
I think it is cool that we're building this app but I guess I missed the main vision for the purpose of work. Could you relay the purpose @RyanCCollins and @forbiddenvoid?

[2016-09-30 17:09] RyanCCollins commented on #19
I will refer to David to give an official goal, but my goal is to connect Udacity Alumni in a meaningful way.  Great idea @bryanj4 !

[2016-09-30 20:38] JamesIves commented on #19
Certainly think some context would really help!

[2016-10-01 03:09] zhangtreefish commented on #19
I hope this site will help Udacity students to experience collaborative projects.

[2016-10-01 03:17] RyanCCollins commented on #19
Hi @zhangtreefish I agree!! What else does every one hope for.  Ultimately, this is our project and your input is super valuable.  This application is something that all of us will hopefully use in a meaningful way to connect with each other.

[2016-10-01 03:44] xadahiya commented on #19
We can use the site to share post graduation experiences, like what cool projects they are working on. It will inspire other students to keep on learning and if they want they can collaborate too.

[2016-10-01 04:45] bryanj4 commented on #19
I'm thinking this can be a networking/collaboration hub of Udacity alumni so we can help each other advance in life and in our jobs.

[2016-10-01 05:04] bryanj4 opened #20 "Failing Test ErrorAlert"
app/src/components/ErrorAlert/tests/index.test.js:
* Test suite failed to run

Cannot find module 'grommet/components/notification' from 'index.js' from `app/src/components/ErrorAlert/index.js:4:47`

I fixed the issue and will be submitting a PR.

[2016-10-01 07:36] James-Gallagher commented on #19
We are not just a group of individuals, we are a community. A community consisting of like-minded individuals who are constantly learning, and putting the skills they have learned into place. The Udacity Alumni Web Application was designed to host a community hob, where we can collaborate, and perceive things differently.

The Community will mean we can share all of our recent graduations, all of

[2016-10-01 09:30] martin-martin commented on #19
I see the webapp as a "first-in-many"-adventure, which can take the project-based learning of the NDs to a next level.

Projects done collaboratively with other alumnis give us the chance to learn and practice some skills that I think are essential for the "real-life" work as software engineers. We built stuff in the NDs, but a lot of the setup, organization, and preparation has been done for us.

[2016-10-01 13:48] martin-martin opened #21 "Beginner's Guide: Meaning of the Labels"
I'd like to see the webapp as a low-entrance project making it possible for many many alumnis of different levels of experience to contribute.
I'm currently learning a lot to get up to speed, and thought a **legend explaining the labels** could be something useful.

So here's what I currently think I've figured out (please correct and complete!):

- `discussion`: A topic that is (hopefully) worth

[2016-10-01 14:17] RyanCCollins commented on #21
Awesome!! Thanks so much for taking the time to do this!

[2016-10-01 14:30] RyanCCollins commented on #19
@martin-martin Yeah! I have always felt that way.  That was the main reason we started Hacksmiths, to gain collaborative experience.  A couple people got jobs out of it too!  I totally agree that the learning doesn't really even start until your working with other people.   Nice post!!

[2016-10-01 14:46] bryanj4 commented on #21
I tried finding the location to add a label but for some reason I couldn't add a label

[2016-10-01 14:46] RyanCCollins commented on #20
Thanks man!  This one kinda makes me nervous that your installation is foobarred, because the notication component is working for a few of us.  Can you check your node modules folder `grommet/components/notification`, should be in there, or try to reinstall?

[2016-10-01 14:49] bryanj4 commented on #20
Yes but you need to be grammar conscious because Linux is picky. You need to capitalize Notifications and Button

[2016-10-01 15:08] martin-martin commented on #21
@bryanj4: You should be able to add Labels [here](https://github.com/udacityalumni/alumni-client/labels). Not sure about permissions for this, but I was able to add `discussion`.
Under the _Issues_ tab there is _Labels_ button that then features a green _New Label_ button.

[2016-10-01 16:05] bryanj4 commented on #21
@martin-martin as a member apparently I had less permissions than a non-member when I had no repository access. Issue was fixed and we'll be attaching proper labels for now on.

[2016-10-01 16:44] adai183 commented on #19
Wow!
You guys made my day!
This is so inspiring. Thanks for making this whole thing more meaningful.
:-)

[2016-10-01 16:51] baker-natalie commented on #19
It's pretty much already been said, but I am really hoping to help create and take advantage of opportunities to collaborate and gain experience that will help us advance our skills and careers. It seems that is exactly what this project is already doing =)

[2016-10-01 18:36] RyanCCollins opened #25 "AMA about our Front End setup"
Hey folks, I realize that our setup with this project is extremely convoluted and I want to make sure that it's accessible to everyone and offers an opportunity for everyone to learn.

If you have any questions at all about the setup, please let me know and I'll be happy to get you up to speed.  When I first got into Front End development, I remember being like "Babel what?" and
"Webpack who? but

[2016-10-01 18:43] baker-natalie commented on #25
I have been a little intimidated about jumping in bc it is a little overwhelming, and I'd really love a walkthru on getting started- maybe a one on one, or a live demo if there are others who need some guidance? I struggled with build tools all through my nanodegree, so this is an area where I'm not very strong yet. I'd be happy to do a writeup on a tutorial session to help future contributors get

[2016-10-01 18:45] RyanCCollins commented on #17
Awesome job getting this hooked up.  @adai183 can you tell us a bit about what else needs to be done?  The API is ready to accept articles, so we could setup the action creators in the container to connect and pass in an onsubmit?  Is there anything else we need to watch out for?

[2016-10-01 18:50] ghoshabhi commented on #19
There is enough already said here about the goal, I will like to share what I feel/expect from this project.

I feel that this project will be very useful for the existing Udacians to connect amongst each other while the app is being built. There is absolutely no doubt that the final product is going to be utterly useful to the future graduates.

But during the process, I hope to learn from the de

[2016-10-01 18:54] adai183 commented on #17
Awesome.
Go ahead and hook it up to the backend.
At some point we will have to polish up the cms editor interface and make it more intuitive.

I am really excited to see this work. Looking forward to get feedback from fellow udacians.

[2016-10-01 19:00] ghoshabhi commented on #25
You're awesome Ryan 🌟 got so much to learn from you and other devs!

[2016-10-01 19:22] kellim commented on #25
I am a little intimidated to jump in too. I've read the documentation and issues for the project but I'm not sure I understand what all needs to be done and where to start. It sounds like you are doing a presentation on React but the hard part for me is figuring out what there is to do and what I can do. It sounds like people might just go in and claim issues, or do people discuss who is going to

[2016-10-01 19:52] martin-martin commented on #25
Hello to all the other newlings out there : )
For a few days now I've been trying to get myself informed about how everything is set up and how things work together - and I completely agree with you that it feels very convoluted. Thanks for starting this discussion!

I've been trying to begin at ends that I somewhat understand and then do mini-bits just to get a little more familiar with what's ou

[2016-10-01 19:55] martin-martin commented on #21
Hei @bryanj4 - I'd like to keep this open, since I believe a few people who are new and not so experienced could maybe benefit from reading about the labels (that was my initial intention when writing this post).

There might be a better place for it maybe - such as the wiki - and eventually we can move it there. But for now it seems to make sense to me to sit around here right next to where one w

[2016-10-01 20:04] RyanCCollins commented on #25
Awesome convo here!! The way that I did it for the Hacksmiths project was to write a rubric similar to what you read when you do a nanodegree project. I'd love to do this for this project but I need to collect some more information first. Like @martin-martin said, I am more than happy to talk one on one to clarify things. Welll get there and I really appreciate everyone's input!!

[2016-10-01 20:11] forbiddenvoid commented on #19
Hey everyone! I'm glad to see so much excitement and energy from this project! If you're curious about the goal/motivation for this, here's what I would say.

1. We need an alumni landing page to house news, updates, and information that is relevant to the interests of Udacity Nanodegree Alumni.

2. We need an opportunity for alumni to get practical, real world experience with their chosen fields.

[2016-10-01 20:29] adai183 commented on #25
Wow!
Thanks for getting this started.
The real challenge of this is to make it work for all of us and make sure that everybody can contribute.
I am sure that the platform we are starting to build will be as good as the community who is building it. That means it will be awesome.
We chose cutting edge technology to make our platform as powerful as possible.
It definitely takes some time to get fami

[2016-10-01 20:36] RyanCCollins commented on #25
@ghoshabhi I / We have so much to learn from you, too!

[2016-10-01 22:28] RyanCCollins opened #28 "Hookup CMS Editor to Redux / API"

[2016-10-01 22:28] #17 closed

[2016-10-01 22:31] RyanCCollins commented on #28
See here: https://github.com/udacityalumni/alumni-client/tree/feat_rc_article_ui_actions

[2016-10-01 22:32] RyanCCollins opened #29 "Create specification / Rubric"
We need a document that contains the minimal specifications of the app.  I have started this and will share a link soon

[2016-10-01 22:32] #20 closed

[2016-10-01 22:33] RyanCCollins commented on #20
Note that this has been fixed in : https://github.com/udacityalumni/alumni-client/pull/27

[2016-10-02 03:53] RyanCCollins commented on #28
This is all set, except we could improve the CMS editor by moving the state out into the container and killing the internal state if that's possible.

[2016-10-02 03:55] RyanCCollins commented on #14
We could have some fun with this!  If someone wants to step up and help design a flashy footer, that would be fantastic.  Thanks!

[2016-10-02 17:01] RyanCCollins commented on #25
Hey folks, I am going to respond to each person here individually in a couple of comments.

[2016-10-02 17:10] RyanCCollins commented on #25
@baker-natalie Yeah, I totally understand!  I am happy with doing whatever, including a one-on-one.  We will be doing a live session tomorrow (Monday) at 3:00PM to go over the React and other setup stuff.

As far as webpack and the build process goes, the reason that I use it is because I have never enjoyed the way that JavaScript deals with modules.  This was actually one main reason why I never

[2016-10-02 17:25] RyanCCollins commented on #25
Also, this goes for everyone, there are many ways to contribute to a project.  If the coding is too intimidating at the moment, get involved by helping with design, project management or whatever else and eventually, I am sure you will be comfortable enough to start contributing code.  Although we have some amount of organization, this project is very much a living breathing entity that will requi

[2016-10-02 17:27] baker-natalie commented on #25
Wow @ryanccollins thanks for getting back with such a detailed answer! I felt like the FEND kind of skimmed over that stuff, but I recently discovered there is a new course that does cover it specifically! So I'll be sitting down with that tonight, and attending the demo tomorrow. I'll see where I'm at then, and if I have other questions.

If others want to share their notes or impressions from th

[2016-10-02 17:29] baker-natalie commented on #25
Errr, *importing, not umpiring. That's just silly.

[2016-10-02 17:32] RyanCCollins commented on #25
Lol!  Thanks @baker-natalie.  That would be super awesome to work on some documentation.  Our [wiki](https://github.com/udacityalumni/resources/wiki) would be a great place for that!!

[2016-10-02 17:47] martin-martin commented on #25
Hei all! Yay! I just finished writing a tiny Beginner's Introduction guide (sourced by my own experiences here). Made a pull request - also to try things out (I think it's still pending ; )

I'd be thrilled if you add your thoughts there @baker-natalie (or also make something better or different instead - in the way you are imagining it) 😄 !

[2016-10-02 18:07] baker-natalie commented on #25
@martin-martin I was reading your guide while you were commenting over here lol.  I think that what you have looks great- let's collaborate after the demo and get all the details together. I really like the friendly and enthusiastic vibe of your writing. I feel like if one of our goals is to help alumni get into open source contribution, things should be a little hand-holdy, so I would lean toward

[2016-10-02 18:29] RyanCCollins commented on #25
I felt the same way about his writing.  It's really good!

[2016-10-04 03:24] RyanCCollins commented on #25
@kellim Nice to see you on the presentation today! I totally feel you about having the barrier for entry be accessible to everyone and that is definitely a major goal of mine.  I think you are already doing what you should be as far as contributing with discussions and stuff like that.

I will hopefully get a big more organized this week with tasks and will put a label on things that I think would

[2016-10-05 04:06] zhangtreefish commented on #18
How about adding a field for user showing projects inviting collaboration?

[2016-10-05 15:42] #7 closed

[2016-10-05 15:50] RyanCCollins opened #34 "CMS Toolbar"

[2016-10-05 15:52] RyanCCollins commented on #18
Yeah, that sounds cool.  We have a bit of freedom here to design this how we want.  I say we start with a basic design first and then use a bit of that creative freedom!  Great idea!  Is this something you want to help with @zhangtreefish ?  I was thinking of making some mockups of it today.

[2016-10-05 15:53] RyanCCollins commented on #14
I think this would be a great first feature for anyone looking to jump into the project.  I am going to make a little mockup in a few.

[2016-10-05 18:14] kellim commented on #14
I would like to try this one. I assigned it to myself.

[2016-10-05 18:22] RyanCCollins opened #35 "Mentoring, Careers, Meetups"
I'd like some idea of the UI and data models we will need for these sections so that I can start making some tickets and specifications

[2016-10-05 18:23] RyanCCollins commented on #8
Since we don't have any movement yet on this, I think I am going to make this one of my assignments and I would love some input.  An example of what I am thinking is located here: https://corporate-dashboard-client.herokuapp.com/

[2016-10-05 18:25] RyanCCollins commented on #15
We have already mostly done this one in the demonstration we gave.  The code and mockup can be found here: https://github.com/udacityalumni/resources/wiki/React-Training#demonstration This is mostly static content, but the challenge will be hooking it up to the API.  I would be happy to help with this one during a Pair Programming session.

[2016-10-05 18:27] RyanCCollins commented on #14
Great!  I think this is an awesome first step for you.  I had talked to @martin-martin about doing it, but that;s okay I will communicate to him that he'll be doing something else.  I think we can have some fun with this. Customizing the social icons, for example, could be fun.  Let me know if you need some help.  We could do that in a pairing session.

[2016-10-05 18:53] zhangtreefish commented on #15
i@RyanCCollins: That will be great! I have requested a pair programming with you tomorrow.  I have been working on this, using <Link to='/articles/:articleId' />. Shall I push the half-baked branch to github?

[2016-10-05 19:18] kellim commented on #14
Thanks, I will try to figure it out on Codepen first, and I will let you know when I get stuck! Sorry @martin-martin. Also, should the social icons have links at this point, and if so should they link to the main Udacity social media pages?
* `https://www.facebook.com/Udacity`
* `https://twitter.com/udacity`
* `https://www.linkedin.com/company/udacity`

[2016-10-05 19:22] forbiddenvoid commented on #14
@kellim: For right now, yes those icons should link to those pages.

[2016-10-05 20:07] bryanj4 commented on #18
I am thinking about the design for the user profile.
I'm thinking about including settings for
* password recovery
* email change
* name change
Also there should be room for a profile picture upload along with a description.

I was also thinking about a feed of the articles you create as well when you are the user you have the ability to go back and edit and if you're not then there is the user's

[2016-10-05 20:31] RyanCCollins commented on #15
Yes please!  Looking forward to tomorrow!!

[2016-10-05 20:31] RyanCCollins commented on #15
Yes please!  Looking forward to tomorrow!!

[2016-10-05 20:50] martin-martin commented on #14
Haha! @kellim, no worries!!! I'm very happy that you decided to do this, I'm sure I'll find something else to do ; )

[2016-10-05 20:52] martin-martin commented on #35
I'd like to contribute on this one. Just saying! : )

[2016-10-05 21:04] martin-martin commented on #35
I'll also leave this here for interested people to check out. A Udacity student made this one and it's quite sweet I think: https://connect-udacian.firebaseapp.com/

[2016-10-05 21:16] RyanCCollins commented on #18
I like all that Jake!!! Please run with it.  The articles is a great idea.  I think we will end up with a few sections in the profile, as shown in the mockups.

Oh and by the way, here are the mockups.

![User Profile](https://github.com/RyanCCollins/cdn/blob/master/alumni-webapp/user-profile.png?raw=true)
![User Profile Editing](https://github.com/RyanCCollins/cdn/blob/master/alumni-webapp/user-p

[2016-10-05 21:58] martin-martin commented on #18
Hei, here's an interesting project that one alumni made: https://nd-sharables.herokuapp.com/
I've sent him a message too, maybe he feels like collaborating on this.
Not sure this should be integrated into the user profile, or instead be maybe a separate page - what do you think? : )

[2016-10-06 00:18] RyanCCollins commented on #18
That is so cool!  I love that.  I would love our web app to combine all of these ideas into one official app.

[2016-10-06 00:44] zhangtreefish commented on #18
@RyanCCollins: I'd love to! My preliminary thinking: the ProjectEditorPage will mirror CmsEditorPage; projects will have the following fields: what-app name and description, who-app audience, why-app purpose, how-required skill set, looking for- intended target Udacity student cohorts(a particular Nanodegree and project completion level),  where-github repo.

[2016-10-06 01:34] RyanCCollins commented on #18
@zhangtreefish sounds great.  I will come back to this tomorrow as I will be spending most of the day compiling all of this info.

[2016-10-06 03:21] zhangtreefish commented on #15
Pushed single_post_route. It does not render the single post view yet. (:

[2016-10-06 04:58] RyanCCollins commented on #15
that's okay, I am sure it will soon 👍

[2016-10-06 06:31] adai183 commented on #28
I think the state has to stay inside the CmsEditor component.
The component is a special case because the editor state is handled by draft.js core.
It is also not needed by by the other components.

The Redux container should only be responsible for calling the api. We can hook up the container to Redux handle all the async logic there and then pass a onSubmit function to the CmsEditor component a

[2016-10-06 06:49] forbiddenvoid opened #36 "Updating the Wiki"

[2016-10-06 06:51] forbiddenvoid commented on #36
We need some folks to help us update the wiki inside github. This is a great place for new user resources, set up guidelines, etc. I'd like to keep these kinds of materials out of the open issues as much as possible, because I think it detracts from the workflow.

If this interests you, comment here in this particular issue. Once we get a couple of people, I'll close this and we can start opening

[2016-10-06 07:03] martin-martin commented on #36
I'm up for doing some wiki-writing. : )

(just want to mention that it made it easier for me to step into thinking about doing something through posting a comment here in the working repo. The wiki is "something else" and more static, while here that's the place where things are happening, where people come by (and also respond) etc.  - I understand that's not the point of the Issues and might mak

[2016-10-06 07:11] forbiddenvoid commented on #36
lol, @martin-martin. Issues are for conversation, so don't worry about that. I think we can make the wiki the source of truth for things like code conventions etc. They're criminally underutilized in a lot of projects, and the issues board tends to get clogged just like this.

My thought is that the README should contain a link to the wiki for common things. We just need to be diligent about keepi

[2016-10-06 07:13] forbiddenvoid commented on #35
We're going to hold off on these for right now. Let's get the articles and editor functioning first. The meetups applet is going to be pretty complex, but mentoring and careers will likely be close to static content (just created from the CMS)

[2016-10-06 07:55] kellim commented on #36
I am interested in updating the wiki too, but I am still learning so I don't know if I will be able to solve the wiki issues, or just write as I go along to explain things from the perspective of someone who is new to collaboration, and tools like grommet, generators, etc.
Also, a silly question - do you update the wiki in the browser? I don't see a way to do a pull request updating the wiki in th

[2016-10-06 08:00] martin-martin commented on #36
Whoa! Yes @kellim !! : D
I just had the same question: https://udacityalumni.slack.com/archives/alumni-web-app/p1475739823000905

Okay @forbiddenvoid, ha! : )
It just seems easier with all the notification and people responding and such. I understand that it happens here more than in a wiki. (e.g. much easier to just post something here, as accidentally just exemplified by kellim and me)

[2016-10-06 09:30] adai183 commented on #36
@martin-martin : GitHub doesn't support pull requests for the wiki repository.
There are solutions around it. But I think they are to complicated.
I think we can give push permission to people willing to take care of the wiki.  I don't have admin permissions for the repo. But I will ask @RyanCCollins  to give you and @kellim push permission.

[2016-10-06 15:56] RyanCCollins commented on #34
This one is like half done.  The toolbar can be seen here: https://udacity-alumni-client.herokuapp.com/

[2016-10-06 16:07] RyanCCollins commented on #8
Again, I'd love some help on this one.  This is probably the most important ticket we have now.  I will get us started and would love someone else to come jump in to help!!

[2016-10-06 18:15] RyanCCollins commented on #8
Note, I have decided to get some progress going on this and will update the repo soon.  I could still use help with making the site responsive!!

[2016-10-06 20:32] RyanCCollins opened #39 "Mobile Navigation"

[2016-10-06 21:15] RyanCCollins commented on #39
We have a beautiful mobile nav menu setup.  All we will need to do is pass in a user object once we have the auth hooked up

[2016-10-06 21:15] #39 closed

[2016-10-07 01:12] RyanCCollins commented on #36
I just do it all in the browser!!

[2016-10-07 01:23] RyanCCollins opened #40 "Not Found Page"
I have a really fun task for anyone who wants to take it.  Maybe @martin-martin since @kellim is doing the footer you could do this!!

When we stumble onto a route that points to no component, it renders the NotFoundPage route with the text Not Found.  You know how most websites have a 404 page?  We could do something like that for this app and have some fun with it!  Github for example has the [o

[2016-10-08 03:54] zhangtreefish commented on #15
feat_single_article branch is my solution to issue #15, thanks to @RyanCCollins ' help through pair programming. I will fine tune the view in the next few days. Please advice and critique liberally.

[2016-10-08 10:43] martin-martin commented on #40
That sounds really exciting! : D
I'd gladly take this over!

[2016-10-08 10:53] adai183 opened #42 "Reducing Hot Reload Time"
I am a bit frustrated because on  my machine hot reloading takes about 7 seconds every time I change one line of code. Doing front end work this is very tiresome.
Question: Does webpack actually rebundle both source **and** dependencies everytime I change a line of code?
If yes we might look for a different webpack config. Maybe it is possible to tell webpack not to touch our third party dependenc

[2016-10-08 11:36] RyanCCollins commented on #42
Hey @adai183!  I have a few performance enhancements we can try, but they will make the build even more convulated.  Let me try a simple one first and see if that helps you.  I just benchmarked and it reduced the time by a factor of 30%, so hopefully that will be a marked improvement for you.

[2016-10-08 11:38] RyanCCollins commented on #42
Go ahead and give this a pull to try it out.

[2016-10-08 11:39] adai183 commented on #42
ok.
Also just cam across [this](https://medium.com/@soederpop/webpack-plugins-been-we-been-keepin-on-the-dll-cdfdd6cb8cd7#.r8wphmdmbl)
I want to give the DLL plugin a try.

[2016-10-08 11:47] RyanCCollins commented on #42
Chunking is another approach I have taken as seen on my portfolio project: https://github.com/RyanCCollins/ryancollins.io This is part of the production build only, however.  DLL was too daunting for me, but would love to see you get it right.

[2016-10-08 11:52] adai183 commented on #42
wow! Huge improvement with the cheaper source map dev-tool.
DLL looks nasty and documentation is pretty bad. But I will give it a try.

[2016-10-08 11:53] RyanCCollins commented on #42
Sweet!

[2016-10-08 17:24] #15 closed

[2016-10-08 17:25] RyanCCollins commented on #15
Thanks @zhangtreefish we may come back to this one later, but am going to put it on the done board for now.  Let me know if you'd like to try your had at something else!!  Thanks so much for your contributions.  Make sure to put that on your resume!

[2016-10-08 19:25] RyanCCollins commented on #13
I am going to take this one since it's like the hardest

[2016-10-08 19:27] RyanCCollins commented on #28
Yeah that sounds fine to me!

[2016-10-09 18:55] RyanCCollins opened #50 "Signup Page"

[2016-10-09 18:55] #50 closed

[2016-10-09 18:55] RyanCCollins opened #51 "Log in Page"

[2016-10-09 18:55] #51 closed

[2016-10-09 18:58] #28 closed

[2016-10-09 19:00] RyanCCollins commented on #14
Note: there is now an app footer component that shows the text Udacity Alumni Web App.  Please work off of this rather than the old component.  Looking forward to seeing progress on this!

[2016-10-09 19:00] RyanCCollins opened #53 "Loading Indicator Messages"

[2016-10-09 19:01] RyanCCollins commented on #53
It seems like @martin-martin  is going with the theme of the old classroom for the not found page.  Remember the old classroom had those "Reticulating Splenes" messages? I was telling him, we could add this to the loading indicator as well.

I think that something like this for the loading indicator component could be a huge UX boost for the site and would love to see someone run with it.

[2016-10-09 19:02] RyanCCollins commented on #8
We seriously need help on this.  This will be mostly CSS and feedback on the current mobile design.  Is there someone, or a group of people who can stand up and volunteer to help us to get a killer mobile design?

[2016-10-09 19:07] martin-martin commented on #8
I wouldn't mind doing some work on the responsiveness. I'm just not yet very experienced with this yet, so it would probably take longer if I do it. But I will gladly do some parts, and if there will be a team, I'm in. : )
Ryan, what does "Pressing Matter" mean? Is there a ETA for this?

[2016-10-09 19:19] RyanCCollins commented on #8
I just added that so that we can highlight the issues that are most pressing.  No real ETA on it, but it means let's prioritize it above others.  We need this for the initial MVP, which we are getting fairly close to.

[2016-10-09 19:56] martin-martin commented on #36
Hei Ryan - I think I don't have edit rights in the general wiki (udacityalumni/resources)
Couldn't find an edit button there.

[2016-10-09 20:06] zhangtreefish opened #54 "UI/UX/Styling enhancement needed?"
1. on the Single Article View: There seems to me too much empty space on the single article view at the top.
2. Also, at the mobile landing view, the Spotlight articles run in  a long vertical column: wouldn't it be better if we just show the titles and compact them in one screen? Or, can we switch the placing of the carousel and the spotlight articles, i.e. display just one spotlight article near

[2016-10-09 20:54] #13 closed

[2016-10-09 20:55] RyanCCollins commented on #13
This one is done for now.  It;s searching just the articles from the api.  Will have to have multiple types at some point when we have all the career resources and such.

[2016-10-10 01:18] bryanj4 commented on #18
# Questions

1. Do we want any user profile as long as it is there to be viewed? I say yes but I want everyone's input.

2. Also I was thinking of user levels from someone logged in vs public vs private data. The data level permissions could be based on critical information such as email address, etc. Does anyone else think this is a good idea?

[2016-10-10 01:41] RyanCCollins commented on #18
Yeah, so we do have a role system.  For the most part, you can just design it as if you are expecting a user object to be passed in as a prop from the app (I just got auth hooked up).  The authentication and the role system will be maintained at the app level, not in the user profile so you shouldn't really have to think too much about how this works.  We will protect certain routes at the routing

[2016-10-10 14:02] zhangtreefish opened #59 "npm WARN"
The following appears after running 'npm run setup' but does not prevent the app from running. Running `npm install --global webpack webpack-dev-server` at the command prompt [eliminates the part of the  warning about webpack](https://github.com/webpack/webpack-dev-server/issues/349), but I wish though to know how it can be addressed inside package.json:
`+-- redux-auth-wrapper@0.8.0
`-- UNMET PEE

[2016-10-11 01:11] kellim commented on #14
Got it. Do we want it to say "Udacity Alumni Web App"? Asking because it is not in the mock. And  does the heart need to have a gradient or can it be the heart that is already in the text with a solid red color via css? Thanks!

[2016-10-11 03:34] forbiddenvoid opened #62 "Expect to be able to see a feed of articles"
Just what it says. There's no way to see the list of articles available to read.

[2016-10-11 03:35] forbiddenvoid opened #63 "Content Editor Tabbing"
When you keyboard tab from the editor page, it cycles through the video and image icons instead of directly to the text. Those divs shouldn't exist unless the drop down is toggled.

[2016-10-11 03:36] forbiddenvoid opened #64 "Expect that after posting an article, it redirects the user."
Posting an article doesn't redirect anywhere, which is an awkward experience. It should redirect either to the content dashboard or back to the main page. Dashboard is preferable.

[2016-10-11 03:36] forbiddenvoid opened #65 "Content Dashboard"
Right now we have only an editor. That page should be a fully featured dashboard with the ability to manage existing posts.

[2016-10-11 03:37] forbiddenvoid opened #66 "Need to connect Auth to Udacity API"
I'd really prefer for there not to be any users generated external to the Udacity API. I know this hasn't been worked out yet, but I just want to put it out there for now.

[2016-10-11 03:38] forbiddenvoid opened #67 "My Classroom listed twice"
The 'My Classroom' Menu option is in both menus and active in only one.

[2016-10-11 03:39] forbiddenvoid opened #68 "Expect to have a way to interact with tags and categories as a User and as an Admin"
Article Tags should generate an article list with those tags filtered (related to article list not implemented yet)

[2016-10-11 03:41] forbiddenvoid opened #69 "Expect the search bar to have a placeholder and popout on hover."
Hover over search icon should pop out the search box. Some placeholder text: "What would you like to search for" or something like that.

[2016-10-11 03:42] forbiddenvoid opened #70 "Udacity icon reloads alumni page"
I'd like the icon to navigate to udacity.com. We can add another menu item (alumni?) to reload the alumni page.

[2016-10-11 03:43] forbiddenvoid opened #71 "Expect that the search highlights text and is more functional"
I'd like to have the search feature show the highlighted text of the search term.

[2016-10-11 03:48] forbiddenvoid opened #72 "Need to add distinction between different user classes"
Let's make sure we start implementing the differences between users, creators and admins. Regular users shouldn't see the post an article link on the main page.

Ryan, can you get us set up with test users of each type?

[2016-10-11 04:26] kellim commented on #14
I found the ❤️  but still need to know if we want to keep "Udacity Alumni Web App" in the footer.

[2016-10-11 05:18] forbiddenvoid opened #73 "Clicking menu items refreshes the page."
Let's not do this. The sooner we can nip this in the bud the better off we are.

Can we wrap the pages up so that they live inside of a root container?

I don't that we're using routing here, but ideally all of the functionality lives inside of one single page. Can we simply tell the browser we're at a different location without actually _going_ to a different location.

Basically, we're reloading

[2016-10-11 08:55] adai183 commented on #73
The idea is to do use webpack and react-router for lazyloading and code-splitting. Webpack will break the huge bundled js into chunks specific to each route. In production each route will only load the js it really needs.
This gives us a massive performance gain.
I am sure @RyanCCollins can tell us more about this.

[2016-10-11 09:10] adai183 commented on #40
Congrats! @martin-martin
Awesome creative 404 page !

[2016-10-11 13:15] martin-martin commented on #40
Okay, maybe I have an idea for an image. I'll work on this : )

[2016-10-11 14:15] adai183 commented on #71
@RyanCCollins  Great work implementing the search.
I will take care of the text highlighting.

[2016-10-11 15:12] RyanCCollins commented on #73
Am not sure what the question is.  The routing is handled by React router, so it's all done with javascript.  When we get to production, we will performance optimize it like Andy said.  When you use react router to push a new route using the history API and the current setup, it will transition using JavaScript and NOT perform a full page reload.  This is why it is much faster than the majority of

[2016-10-11 17:24] RyanCCollins commented on #72
Yeah, in fact @swaption2009 was talking to me about this.  Basically, on the API side we need to make a determination about what models are available to who.

Then, on Front End side, we need to have different routes for specific types.  This is in fact already configured, just not yet setup.

https://github.com/udacityalumni/alumni-client/blob/master/app/src/routes.js

[2016-10-11 17:38] #40 closed

[2016-10-11 17:38] RyanCCollins commented on #73
This is fixed, so will set to done for now.  Thanks @forbiddenvoid and @adai183 !!

[2016-10-11 17:38] #73 closed

[2016-10-11 17:41] RyanCCollins commented on #68
The way I see it, tags and categorization are the two missing features of our blog.  These tags, in fact, are only statically generate because we don't yet have the required mechanism.  I believe @AbigailMathews is working on this on the backend.

We do need someone on the front end to be working on this.  Think about how tags and categorization work on a normal blog?  I would expect an input fiel

[2016-10-11 17:42] RyanCCollins commented on #62
Yes, indeed.  We will need this to be a feed on the landing page I think.  Right now, on the /admin/content-dashboard page, you can see a basic list of articles, but right now that's all we got.

[2016-10-11 17:45] RyanCCollins commented on #70
Yeah, I have some ideas for this.

We can also add the logo to the footer.

[2016-10-11 17:45] RyanCCollins commented on #73
I added a check here to see if any article were loaded before refreshing:

[code]

[2016-10-11 18:02] RyanCCollins commented on #71
This looks great, thanks @adai183 .  Maybe it could also highlight names?

[2016-10-11 18:03] RyanCCollins commented on #69
There is an option to keep the thing open all the time.

I added a placeholder.  Making it pop out on hover can be done at the grommet level, so I will take a look at some point.

[2016-10-11 18:05] RyanCCollins commented on #59
Indeed, that package is out of date.  So far, it seems to be working however.  We may want to keep an eye on it, but we do need that package for our test suite, so it needs to stay the way it is for now.

Thanks for your input!!

[2016-10-11 18:05] #59 closed

[2016-10-11 18:07] RyanCCollins commented on #67
Indeed, it is on both on the original mockup.  Do we want it only in one menu?

There are some links there that do not yet link to a page because we have yet to create those pages.  We will have to try to map out what content we want at each place at some point.  For now, maybe I can make a "Not yet ready" page that these all point to.

[2016-10-11 18:11] RyanCCollins opened #76 "As a user, I expect that the remember me button would save my email and password for future use."

[2016-10-11 18:28] martin-martin commented on #67
Hei - I could make this "Not yet ready" page : ) (= in practice now)
@RyanCCollins if you tell me which paths to direct to there, then I could take this over.

[2016-10-11 18:30] forbiddenvoid commented on #67
Shouldn't have been on the mockup. I'd like to leave the one in the right menu.

[2016-10-11 18:32] forbiddenvoid commented on #69
Yeah, I think hover is the best bet here. I would prefer for it not be open all the time.

[2016-10-11 18:35] forbiddenvoid commented on #72
This is good. Can this be done within a page as well? Different components displayed for different user types?

[2016-10-11 22:08] ghoshabhi opened #80 ""Name" field box on signup page turns red(invalid) when clicked anywhere on the page"
After the Signup page is opened - the Name field box is either already in an invalid state or turns on validation when clicked anywhere on the page.

[2016-10-12 15:06] #14 closed

[2016-10-12 15:28] #71 closed

[2016-10-12 15:28] #16 closed

[2016-10-13 00:33] zhangtreefish commented on #8
@ryancollins: Is it possible to get an updated Grommet version for our app? There has been some improvement on the responsiveness of their headline component: https://github.com/grommet/grommet/commit/21b39cbd189048a7bb21bd7c8d05635cf05bd2c6

[2016-10-13 03:26] zhangtreefish commented on #64
@ryancollins: On my PR addressing  issue #64 Redirecting:will there be a route such as `/users/:id/content-dashboard` in the future? For now I had it redirected to admin's, not sure if that is right.

[2016-10-13 03:30] zhangtreefish commented on #68
I'd like to try this one.

[2016-10-13 04:14] RyanCCollins commented on #68
Yeah, I'd love this.  Let's chat about it tomorrow!

[2016-10-13 12:39] csiszi commented on #76
Can we discuss how should it be done? Save the fields to localStorage when the remember me option is checked and load it when the page loads?

[2016-10-13 18:59] RyanCCollins opened #85 "Markdown content overflows article"

[2016-10-13 19:01] RyanCCollins commented on #85
![screencapture-udacity-alumni-client-herokuapp-articles-22-1476385238229](https://cloud.githubusercontent.com/assets/13810084/19362754/e6c941e4-9155-11e6-974e-52e544798aec.png)

As you can see above, the markdown overflows the article.  If someone here would like to, please get this resolved so that the articles are functional.  Many thanks!!

[2016-10-13 19:33] zhangtreefish commented on #85
Where is the bug at? :thinking_face: By clicking MarkdownNum at 'admin/content-dashboard' I got 404 land error.

[2016-10-13 20:01] zhangtreefish commented on #68
Shouldn't tags be an array property of Articles that users can select at CmsEditor along with articleTitle and others:
`constructor(props) {
    super(props);
    // Would be great to move this into redux up to the container.
    this.state = {
      editorState: editorStateFromRaw(null),
      articleTitle: '',
      status: 0,
      spotlighted: false,
    };`
And similarly category also a strin

[2016-10-14 02:11] RyanCCollins opened #86 "Redo the entire site"
We need to redo the entire site and make it more like [this one](https://mojibrag.firebaseapp.com/)

[2016-10-14 02:34] zhangtreefish commented on #86
Do like their playful feel.

[2016-10-14 02:50] AbigailMathews commented on #68
The tags branch has not yet been merged with master, but when it is the articles serializer is set to respond with an array of the associated tags. The tags responds with a list of associated articles.

There will need to be some discussion aboit which users can manipulate tags, but I imagine that contributors and admins will have this power.

Another pending feature is that there will separately

[2016-10-14 02:52] zhangtreefish opened #87 "Individual article links at 'admin/content-dashboard' not routed right"
To enact the bug: at 'admin/new-story', enter a story and submit.

I expect: the links upon clicking take me to 'articles/:id' page

What happened: Got a 404 land message.

[2016-10-14 14:00] RyanCCollins commented on #87
Yes, I have asked @adai183 to work on finishing this.

[2016-10-14 14:10] #76 closed

[2016-10-14 14:11] #67 closed

[2016-10-14 14:11] RyanCCollins commented on #65
Hey @adai183 any updates on this one?  If you need help, let me know.

[2016-10-14 14:15] RyanCCollins commented on #29
Some work has been done on this, but I think we are doing great with an agile vs plan and document approach.  We will document features as issues rather than documenting the whole thing.  You can think of the issues that David posted as User Stories and we will try to write these as user stories.

[2016-10-14 14:36] zhangtreefish commented on #68
A separate nanodegree table is an awesome feature. Will there be a Udacity projects table? If alumni are interested in sharing, improving, and collaborating on their projects, a project table (or as a sub table of the nanodegree table, if such as possible)  might be relevant.

[2016-10-14 14:46] zhangtreefish commented on #85
@RyanCCollins: I put in a tiny PR fixing the redirect upon clicking articleTitle at 'admin/content-dashboard'; or perhaps it is intended that we will have a 'admin/articles/:id' route later? Can not imagine why such is needed.
I was trying to fix the overflow with overflow:scroll, and saw that you had solved the problem with a much grand-scaled approach. Where did you get the markdown-body styles?

[2016-10-14 15:01] adai183 commented on #65
I have to hack megadraft to accept markdown to load content into the editor.
It needs json to load and save article content.
But I thinks we can do a little hack and make it accept markdown.
I might need some time because I will be at a wedding this weekend. :-)

I made an example using json to load the article content on individual_article_links branch for now.

[2016-10-14 15:05] adai183 commented on #87
I have to hack megadraft to accept markdown to load content into the editor.
It needs json to load and save article content.
But I thinks we can do a little hack and make it accept markdown.
I might need some time because I will be at a wedding this weekend. :-)

I made an example using json to load the article content on individual_article_links branch for now.

[2016-10-14 15:16] RyanCCollins commented on #87
Awesome!  Thanks for the update.

[2016-10-16 05:25] xadahiya opened #90 "Notify user on incorrect "Login" credentials."

[2016-10-16 07:25] xadahiya opened #91 "Mobile Navbar "Hamburger" icon position for larger screens"
![deepinscreenshot20161016124956](https://cloud.githubusercontent.com/assets/9114274/19415956/3672c13e-939f-11e6-9b1e-109d503632c7.png)
![deepinscreenshot20161016125047](https://cloud.githubusercontent.com/assets/9114274/19415955/366f1a48-939f-11e6-96ca-888d2bb79c62.png)

Solution is to apply `justify-content: flex-end;`, but I don't know where should i apply it yet :stuck_out_tongue_closed_eyes:

[2016-10-17 08:38] adai183 commented on #65
I did some more tests and came to the conclusion that it is fairly complicated to save the editor state as markdown and I think we should instead save it as json.
So.. question for the backend team: How easy is it to save json in  postgres?
I saw that newer versions of PostgreSQL support the json format but I am not an expert.

[2016-10-18 22:37] #64 closed

[2016-10-19 14:59] #62 closed

[2016-10-19 14:59] #68 closed

[2016-10-19 15:15] #86 closed

[2016-10-19 15:17] RyanCCollins commented on #65
So the big missing piece right now on this, is pagination.  This will be challenging, so greatly looking forward to seeing this work!

[2016-10-19 15:18] RyanCCollins opened #98 "Expect the content dashboard to have pagination"

[2016-10-19 15:18] RyanCCollins commented on #98
The content dashboard does not have pagination yet.

[2016-10-19 15:33] #34 closed

[2016-10-19 23:36] shamicker opened #100 "Forgot password link"
Currently there isn't one. Maybe it would be useful?

I think I had already signed up but I couldn't log in. So I signed up and may now have 2 accounts.

[2016-10-19 23:45] ghoshabhi commented on #100
There will definitely be a Forgot Password functionality:)

[2016-10-21 02:55] RyanCCollins opened #105 "What the FOUC is going on?"
Well folks, we have some amazing performance going on now with lazy loading and server-rendering.  This app is going to be 🔥🔥🔥 .

We have a small issue though, one which plagues all would-be React Server-rendering enthusiasts:
### F   ⚡️
lash

### O   🦃 🌮  <-- I didn't know how to translate "of" to emoji.
f

### U   👎
nstyled

### C   📖
ontent

FOUC is annoying!! What is it, you ask?  Well, we nee

[2016-10-21 03:26] ghoshabhi commented on #105
Isn't showing a "spinner" one of the options ?

[2016-10-21 04:36] kellim commented on #105
It has a LoadingIndicator component that currently shows a spinner with Loading when the main part of the content is loading but it doesn't do that for the entire page like header footer, etc.... so now if you go to different pages on the Heroku site you see the header and footer, etc unstyled.

[2016-10-21 05:58] kellim commented on #105
Would [extract-text-webpack-plugin](https://github.com/webpack/extract-text-webpack-plugin)  or [isomorphic-style-loader](https://github.com/kriasoft/isomorphic-style-loader) mentioned [here](http://stackoverflow.com/questions/34615898/react-server-side-rendering-of-css-modules) on StackOverflow work for the alumni app?

It looks like extract-text-webpack-plugin is already used for the alumni app

[2016-10-21 09:59] martin-martin opened #107 "Update contributor's emojis"
I think these are out-of-date. I wouldn't mind updating them (I think they are sweet ; )

I'd do for now what I (think I) know, but you can notify me here if I'm missing something or made a mistake and I'll gladly fix.

[2016-10-21 10:03] martin-martin commented on #107
Question: is there an automated way of doing this? I guess otherwise I'd need people to tell me about their commits, since the site suggests to link each emoji with the related work done: https://github.com/kentcdodds/all-contributors#mandatory

[2016-10-21 15:33] RyanCCollins commented on #107
I don't know of an automated way to keep them updated unfortunately.

[2016-10-21 15:34] RyanCCollins commented on #105
Ah ha!  Yes indeed we are using Extract Text Plugin already, but perhaps we need to change the configuration to allow for some inlining of the important styles.  Nice one @kellim !!

[2016-10-21 20:34] martin-martin commented on #107
Alright, I might just add a little if I get the time and people are encouraged to update themselves more! : )

[2016-10-21 20:36] martin-martin opened #109 "Create image for NotFoundContainer"
I have a plan and an initial design, need to work it out and make it look good before adding it.

[2016-10-21 20:49] kellim commented on #107
To add an emoji, do you update the README on your local machine then do a pull request? (as opposed to just editing the README on GitHub)

[2016-10-21 21:50] RyanCCollins commented on #107
The data is stored in the .all-contributorsrc file in the repo.  You can see that each user has a contributions under their name.  Please feel free to update yours as you see fit!

[code]

[2016-10-21 23:12] RyanCCollins commented on #109
awesome!

[2016-10-22 11:21] martin-martin commented on #21
Moved this information into a wiki page: https://github.com/udacityalumni/alumni-client/wiki/Github

[2016-10-22 11:21] #21 closed

[2016-10-22 17:16] RyanCCollins opened #110 "Calendar for Articles shows Today's Date"

[2016-10-22 17:27] #18 closed

[2016-10-22 17:27] #65 closed

[2016-10-22 17:27] #8 closed

[2016-10-22 17:27] #29 closed

[2016-10-22 17:27] #42 closed

[2016-10-22 17:28] #36 closed

[2016-10-22 17:28] #90 closed

[2016-10-22 17:29] #85 closed

[2016-10-22 17:29] #87 closed

[2016-10-22 17:30] RyanCCollins opened #111 "Center Calendar Icon in Article Feed Item on Mobile"

[2016-10-22 17:37] #111 closed

[2016-10-22 19:04] RyanCCollins opened #112 "Load Articles by Tag"

[2016-10-22 19:04] RyanCCollins commented on #112
We beed to be able to load related articles by tag from the /articles/tags/:tag_id route.

[2016-10-22 21:07] RyanCCollins opened #113 "Archive"

[2016-10-22 21:07] RyanCCollins opened #114 "About Page"

[2016-10-22 21:07] RyanCCollins opened #115 "Public User Page"

[2016-10-23 02:02] #112 closed

[2016-10-23 04:05] martin-martin commented on #114
Hei @ghoshabhi - if you're interested and see value in that, we could try on this together?

[2016-10-23 21:39] martin-martin opened #116 "Footer cuts off photo/video link in Article creation"
When trying to link an image with the `+` icon in the Create an Article section after having written a bit of text, the drop-down offering "image" and "video" vanish behind the footer.

The image can still _just_ be clicked, but the video link is all gone.

I guess the page should scroll up automatically (e.g. not take the space behind the footer as something that exists for consideration).

Here'

[2016-10-23 21:40] martin-martin opened #117 "Design improvement when adding image to Article"
The two stubs of the photo/video buttons remain half-hidden when adding an image:

![screen shot 2016-10-23 at 23 13 15](https://cloud.githubusercontent.com/assets/12371494/19629665/17358de8-997a-11e6-8ad6-7a384f122e0c.png)

Maybe they can be hidden if one of the two is clicked?

[2016-10-24 01:48] zhangtreefish opened #119 "error starting the app on Windows 10"
I expected: after running `npm run setup` and `npm run start`, the app will start at localhost:1337;
What actually happened: I got an error about webpack-dev server. The detail is in the log file:
[npm-debug.txt](https://github.com/udacityalumni/alumni-client/files/546794/npm-debug.txt)

Details on the background:
1) If I reset git to earlier commits, the app did render; however, in that case, the

[2016-10-24 01:50] ghoshabhi commented on #119
I changed to use nvm and still no luck. I too get the same error!

[2016-10-24 01:54] zhangtreefish commented on #119
Yes, I have been wanting to contribute in however small ways; but perhaps I should start learning webpack-dev-server.

[2016-10-24 01:58] RyanCCollins commented on #119
If you'd like this week we can debug it together.  I am not too familiar with Windows, but perhaps I can help.

[2016-10-24 02:01] RyanCCollins commented on #119
One thing you can try is starting the dev server on another port or from localhost.

Within the webpack.config.babel.js:
[code]

[2016-10-24 02:21] zhangtreefish commented on #119
I changed 1337 to 1447: same error;
I changed 1337 to 1447 and 0.0.0.0 to localhost: same error.
Doesn't the fact that the app would render somewhat when reset to earlier commits mean that the issue is not with the port?

[2016-10-24 10:38] marcelklehr commented on #119
Just my two cents: I'd try running `npm run dev` directly to see what the script that returns exit code 1 has to say. (If this is totally obvious and you're way past that, please ignore this comment ;) ). Also, it could be that Windows' firewall is denying access to opening ports, perhaps that's why reinstalling solved this for some people?

[2016-10-24 16:31] #115 closed

[2016-10-24 17:58] RyanCCollins commented on #119
Yes it could indeed be the firewall. Perhaps some of our more recent configuration doesn't agree with Windows. Recently we updated React hot loader because it was failing to work.

I have a few ideas @zhangtreefish and will reach out to you.

[2016-10-24 21:12] martin-martin commented on #114
I have an idea that I'd like to include a carousel at the bottom of the About page where every contributor shares a short sentence about what this project is about for them :)
already made a google form for fetching those gems...
what do you guys think about this idea?

[2016-10-24 21:16] RyanCCollins commented on #114
I have man Thiebababa sounds amazing. Can we put a picture of each person there too?

[2016-10-24 21:48] martin-martin commented on #114
Yeah, that's what I thought. : )

Here's my draft form: https://docs.google.com/forms/d/e/1FAIpQLSdTqjW5Zs2lIOT9xssrPoL3DnHSmfgB42X9H0qsUGrSPVky-Q/viewform

I'll sleep over it and ask @abhi18 and then maybe tomorrow we can post something like that in the slack channel : )

[2016-10-25 00:15] RyanCCollins commented on #114
This sounds awesome, can't wait to see it materialize.  Let me know if you need help coding the UI

[2016-10-25 02:41] zhangtreefish commented on #119
@marcelklehr @RyanCCollins : Running `npm run dev` produced the same error message. About firewall, I [added](url) `C:\Program Files (x86)\Nodist\v-x64\5.2.0\node.exe` to the list of 'Allow Apps to communicate through Windows Firewall' at 'Systems and Security/Windows Firewall/', and got the same error. I am not sure if the node.exe is the right 'executable' of our app.

[2016-10-26 01:12] ghoshabhi commented on #114
@ghoshabhi is my actual ID @martin-martin !! :p I don't know how my old account (@abhi18) has reference here!

[2016-10-26 15:06] zhangtreefish commented on #113
What does Archive entail?

[2016-10-26 15:37] #110 closed

[2016-10-26 15:38] #113 closed

[2016-10-26 15:42] #53 closed

[2016-10-26 15:43] #105 closed

[2016-10-26 15:43] #116 closed

[2016-10-26 15:46] #91 closed

[2016-10-26 15:47] #80 closed

[2016-10-26 15:47] #63 closed

[2016-10-26 15:54] RyanCCollins opened #123 "The User needs to be redirected to login when auth token error found"

[2016-10-26 15:57] RyanCCollins opened #124 "Udacity Authentication"

[2016-10-26 16:03] #117 closed

[2016-10-26 19:13] zhangtreefish opened #126 "On clicking 'Careers', 'Mentorship' and 'Meetups' in the navbar"
Expected: After clicking 'Careers', 'Mentorship' and 'Meetups' in the navbar,  new content of the clicked tabs renders, while the clicked elements stay put.
What happened: these clicked elements shift rightward on larger view ports and leftward on smaller ones before and then revert to their initial positions over the course of 1-2 seconds while the new content renders.

[2016-10-29 12:55] marcelklehr commented on #119
This appears to be an issue with nodist, after all, see my comment at https://github.com/marcelklehr/nodist/issues/177#issuecomment-257090109

[2016-10-31 05:41] kellim opened #128 "Login Page: no space appears between Need an Account and Signup"
On the [Login Page](http://udacity-client.herokuapp.com/login), it looks like there is no space between Need an Account and the Signup link.
- If I copy and paste the problem text, there is a line break in the pasted text between 'Need an Account?'
and 'Signup', but on the page it appears to run together and it looks like it should have a space.

[2016-10-31 05:47] kellim opened #129 "Sign Up page: no space appears between Already a member? Login"
On the [Sign Up](http://udacity-client.herokuapp.com/signup) page, no space appears between Already a member? and the Login link.
-  If I copy and paste the problem text, there is a line break in the pasted text between 'Already a member?' and 'Login', but on the page it appears to run together and it looks like it should have a space.

[2016-10-31 07:13] kellim opened #131 "Profile Page: Cancel button not working for Public Profile Toggle"
On my [Profile](http://udacity-client.herokuapp.com/me/profile) page (that link will take you to your own profile page on the server if you are logged in), if I change the toggle for Public Profile and click cancel, it acts as if it saves it instead of cancelling.

So, if someone were to toggle their public profile either on or off and change their mind by clicking the cancel button, it doesn't ca

[2016-11-02 15:18] RyanCCollins commented on #131
Sounds like a state bug.  Maybe someone can track [this down](https://github.com/udacityalumni/alumni-client/blob/master/app/src/containers/UserProfileContainer/reducer.js).

[2016-11-09 18:38] martin-martin commented on #114
The form is live on slack! and small improvements visible in the dedicated devlopment branch. : )

[2016-11-10 06:59] kellim opened #137 "Editing a post adds duplicate tags"

[2016-11-10 07:06] kellim commented on #137
When you edit a post with 1 or more tags, it will add those same tags as duplicate tags after you publish. Then if you edit again, it will add even more duplicate tags.

[2016-11-10 07:14] kellim opened #138 "Editing a post created by someone else changes Author to you"

[2016-11-10 07:21] kellim commented on #138
I updated a test article someone else created. I was just testing for duplicate tags on it and didn't make any changes to the actual article. After I published, it changed the author to be me. See the article "Grievance Desig" on the front page. I think @martin-martin may have originally created that article, but I can't tell now!

I think it would be a good idea for admins to be able to update ot

[2016-11-10 07:34] kellim opened #139 "No Edit Profile Link in Nav Dropdown"
This issue may be a non-issue, but after I was made an admin, I noticed I didn't have the "Edit Profile" button available. After starting this issue, I created a new non-admin test account, and I don't see the edit profile button for that account either.

I thought that "Edit Profile" is supposed to be in the upper right-hand corner dropdown where it shows your name and avatar. Did it move or get

[2016-11-10 07:41] kellim commented on #139
This issue may be a non-issue, but after I was made an admin, I noticed I didn't have the "Edit Profile" button available. I created a new non-admin test account, and I don't see the edit profile button for that account either.

[2016-11-13 07:59] kellim opened #141 "Reset Your Password modal - remove instructions if success"
After clicking the forgotten Password link, reset password modal should remove the instruction text when it shows the success message.

[2016-11-13 08:01] kellim commented on #141
After resetting password is a success, the modal should probably no longer have the text "Please provide the email address that you used when you signed up for the site.
We will send you an email with a link you can use to reset your password."

I think it should just show the success text "Success! Check your email for instructions to complete the process."

[2016-11-13 08:06] kellim opened #142 "Change from e-mail address for reset password link"
When you reset your password, the from e-mail address is 'please-change-me-at-config-initializers-devise@example.com' which looks like it was not configured and needs to be changed to something else.

[2016-11-13 08:30] kellim opened #143 "Navbar: "Udacity" partially disappearing for logged in users around 770 - 840 width"
From about 770 to 840 width in the browser, the word Udacity in the nav bar gets partially covered up by the "My Classroom" link. This only happens when you are logged in and have the "My Classroom" link in the navbar.

[2016-11-13 08:46] kellim commented on #143
Note - your avatar on the other side of the navbar also gets "squished" at the same time.

[2016-11-14 07:33] kellim opened #146 "Add Cancel button for editing a post"
When you are editing a post, it only has submit and preview buttons. It would be nice to have a Cancel button as well.

[2016-11-15 23:34] #141 closed

[2016-11-15 23:35] #129 closed

[2016-11-16 02:52] #143 closed

[2016-11-16 06:46] kellim commented on #139
The profile link is back, this is no longer an issue.

[2016-11-16 06:46] #139 closed

[2016-11-16 06:48] kellim commented on #128
Closing as this was fixed on #140 by @KalindiFonda.

[2016-11-16 06:48] #128 closed

[2016-11-17 00:40] kellim opened #151 "Footer has some pipe characters on their own lines at certain widths"
From around 681 px to 719px width, the footer has two "|" (pipe characters) on their own lines separating some footer items, and it does not look intentional.

[2016-11-17 23:09] ghoshabhi commented on #119
@zhangtreefish : I just used [Yarn](https://yarnpkg.com/en/docs/install#windows-tab) to install the packages and it worked like a charm. I think after the installation you would have to do `npm install -g yarn`, and after that just cd into project directory and type `yarn` and it works like magic! Just make sure you're using Node 5.2.0! 😄

[2016-11-17 23:12] ghoshabhi opened #153 "Calendar Component hides the tags list"
The calendar component on the page opened after clicking on a Tag hides the tag list! Example [here](http://imgur.com/a/iw682). I would like to fix this, is this just a margin problem ? maybe giving `margin-top` will solve this ? @RyanCCollins

[2016-11-17 23:31] ghoshabhi commented on #153
I gave a `margin-top:50px` at [this](https://github.com/udacityalumni/alumni-client/blob/master/app/src/components/ArticleCalendar/index.module.scss#L7) and it looks better now ? Should this suffice ?

[2016-11-17 23:32] kellim opened #154 "Homepage showing 3 crowded Spotlight Articles from 720px to 767px width."
From 720px to 767px width, the homepage is showing 3 crowded looking articles per row under Spotlighlight Articles.

At 768px plus width, it only shows 2 articles per row, and at 719px and less width it only shows one, so I think this is unintentional.
![spotlightarticlescrowdingissue](https://cloud.githubusercontent.com/assets/2024584/20412339/efbe7cb0-acda-11e6-9a17-1577b014308c.jpg)

[2016-11-17 23:35] kellim commented on #154
also note in the screenshot here the "n" is being cut off in the title of the first article, "Demonstration" mid-letter.

[2016-11-17 23:51] kellim commented on #137
If I'm editing a post and try to delete all the tags, they will appear to delete, but when you publish it will show the tags.

[2016-11-18 01:36] kellim opened #155 "Homepage - Mobile Margins off?"
I tested the homepage on an iPhone 5 and it looks different than testing in Chrome or Blisk. The margins look like they are off.

It looks like there is not enough space between the left-hand side and the text. The image is also looks like it is off to the left-hand side too much.

I think there is also too big of a space between the article title and the article text.
![homepagemobilemargin](http

[2016-11-18 01:37] kellim commented on #155
Please note in the screenshot it is showing more margin than it did on my phone.

[2016-11-18 01:47] kellim commented on #155
Also, when I click Read More to go to a single article page, it doesn't have the issue.

[2016-11-18 02:03] kellim opened #156 "Single Article on Mobile Device - Text overflowing content area"
In a Single article, if there is a long word like Demonstration in the title, then it will overflow the content area.

![singlearticletextoverflowing](https://cloud.githubusercontent.com/assets/2024584/20415871/ff12ac26-acef-11e6-9902-d6c178d27c42.PNG)

This was tested on an iPhone 5.

[2016-11-18 19:37] #151 closed

[2016-11-18 21:05] kellim opened #157 "Edit Profile - Add ability to edit your name"
You should have some way of updating your name in case of name change or typo.

The Main Udacity site lets you update your name in your profile, so I think the alumni site should too.

[2016-11-27 19:13] JamesIves opened #159 "Component Docs"
The following **component** docs need to be updated. Creating an issue to keep track.

- components/AppNavigation
- components/AppCalendar
- components/ArticleFeedItem
- components/Avatar
- components/CarouselWidget
- components/CmsEditor
- components/CmsEditorPreview
- components/CmsModal
- components/ConfirmationModal
- components/DashboardTable
- components/DashboardTableButtonMenu
- components

[2016-11-27 19:14] JamesIves commented on #159
components/Avatar is fixed in #158

[2016-11-28 00:46] JamesIves commented on #156
Was this solved already? If not I can take this one.

[2016-11-28 00:49] kellim commented on #156
I don't think it is solved.

[2016-11-28 01:59] JamesIves commented on #156
Excellent, I'll take a look at this in the morning then.

[2016-11-29 11:17] martin-martin opened #160 "Emoji support"
Tried to add emojis to the About page content and it seems it doesn't display.

I might not be in on a secret of how to do this, though. If so, please accept me into the circle of knowledge!

[2016-11-29 16:21] RyanCCollins commented on #160
Hmm, you should be able to render emoji to the screen with relative ease.  I don't think that there is any secret to it.

[2016-11-29 19:35] JamesIves opened #163 "ArticleCalendar returns 'Invalid Date' in Safari"
![Error](http://i.imgur.com/FOBIGZT.png)

In the current version of Safari the ArticleCalendar component returns 'Invalid Date'.

[2016-11-30 19:06] JamesIves commented on #160
How were you trying to display them?

[2016-11-30 23:16] martin-martin commented on #160
I tried to write like that `:joy:` in the JSX (now it's Markdown).

What's the correct way to include them?

.

On Wed, Nov 30, 2016 at 8:06 PM, James Ives <notifications@github.com>
wrote:

[2016-11-30 23:18] martin-martin commented on #160
whoops, let me try that again, like so : joy :
(without the spaces)
`:joy:`

[2016-12-01 01:16] RyanCCollins commented on #160
Oh I see.  You need to actually include the Emoji character.  It will not automatically convert the : joy : thing to an emoji.  Try the emoji keyboard on a mac with: `ctrl cmd spacebar`

[2016-12-01 03:12] #163 closed

[2016-12-01 03:12] #156 closed

[2016-12-01 15:43] JamesIves opened #166 "Navigation Close Icon Expectations"
When the screen is within 720 and 860 pixels wide the navigation displays some strange behavior. Under 720 pixels if the burger icon is pressed the entire screen is taken up by the navigation, and in its place of the burger icon the close icon appears, which is good.

However between 720 and 860 the close button moves onto the actual pull-out menu its self, and the existing burger icon shifts to t

[2016-12-01 15:53] RyanCCollins commented on #166
Yeah, that sounds like a good plan.  Hide the burger menu and add a click handler to the document.body to close it.  Is that something that you think you can implement?

[2016-12-01 15:55] JamesIves commented on #166
On it

[2016-12-03 01:32] zhangtreefish commented on #119
@abhi: Yarn worked for starting the app!
@RyanCCollins: However, `yarn test` produced the following:
![onyarntest](https://cloud.githubusercontent.com/assets/10746052/20855677/a9296dd6-b8c5-11e6-890f-b1d9d777a4e5.jpg)
I found [this link](https://github.com/gotwarlost/istanbul/issues/677) and tried istanbul as in the branch test_config. However, running `yarn test` now produced neither error nor te

[2016-12-09 07:02] #166 closed

[2016-12-11 19:28] #35 closed

[2016-12-11 19:28] #54 closed

[2016-12-11 19:28] #69 closed

[2016-12-11 19:28] #70 closed

[2016-12-11 19:28] #72 closed

[2016-12-11 19:28] #98 closed

[2016-12-11 19:28] #100 closed

[2016-12-11 19:28] #107 closed

[2016-12-11 19:28] #109 closed

[2016-12-11 19:28] #114 closed

[2016-12-11 19:29] #19 closed

[2016-12-11 19:29] #25 closed

[2016-12-11 19:29] #119 closed

[2016-12-11 19:29] #131 closed

[2016-12-11 19:29] #137 closed

[2016-12-11 19:29] #138 closed

[2016-12-11 19:29] #160 closed

[2016-12-11 19:29] RyanCCollins commented on #146
Hey @kellim what would cancel button do?  Redirect to the dashboard?

[2016-12-11 19:35] RyanCCollins commented on #146
I've added a back to dashboard button that'll show when a user is editing a post.

[2016-12-11 19:39] kellim commented on #146
Yes, it would redirect to the page you were at before you started editing a post. A back to dashboard button should be good enough, it was just that I wanted a way to get out of creating a post.

[2016-12-12 13:03] martin-martin commented on #160
Gotcha! I added this and made it all good.

[2016-12-16 04:38] zhangtreefish commented on #159
Hi @JamesIves ! Is this close to what you had in mind when you once mentioned the component relationships: https://www.npmjs.com/package/react-monocle  ? It would be cool to be able to visualize the app. I couldn't figure out where the 'bundled webpack file' is.

[2017-01-08 18:57] kellim opened #184 "After generating page, the generated README.md has typos"
After generating a new page, it automatically creates a README.md file that has typos:
Under ### Route Parameters, it says "An paramaters that might be part of the route." - "An" should be "Any" and parameters is spelled wrong. It should be "Any parameters that might be part of the route."

The README.md files for the following pages (in the app\src\pages folder) have the issue:
AboutPage, AdminDa

[2017-03-11 23:29] #184 closed

[2017-03-13 06:59] kellim opened #189 "Invalid Date on Articles in Dashboard"
On the Admin Dashboard under Articles  (See http://udacity-alumni-client.herokuapp.com/admin/dashboard - you have to login as admin to see it) it shows all articles as being published with "Invalid Date" under the "Posted On" column.

[2017-03-13 07:10] kellim opened #190 "Admin Dashboard - Can only edit first article you try to edit"
On the Admin Dashboard under Articles, the first time I click the edit link next to an article, that article opens fine in edit mode. However, if I click on the edit link for another article, it opens that first article in edit mode instead of the next article I was trying to edit.

This issue continues until I reload the page, at which point the issue starts over again with the article you try to

[2017-03-13 15:43] zhangtreefish opened #191 "Share Meetups with Alumni"
via @kellim: 'adding the meetup page and per @david   - One thing that I'd like is for alumni to be able to share the meetups that they are going to (even non-Udacity meetups). Then other people can find meetups with other Alumni based on location.'

[2017-03-13 15:45] zhangtreefish opened #192 "New Feature: Project Collaboration"
per @KalindiFonda @kellim  : `can be stuff we want to build with github links.`, `a collaboration page`

[2017-03-20 17:27] #146 closed

[2017-03-20 17:29] ghoshabhi commented on #146
@kellim : Was this issue resolved ?

[2017-03-20 17:44] kellim commented on #146
Yes, we have a back button now that will return you to the dashboard if you wish to cancel editing a post.

[2017-03-20 17:47] kellim commented on #146
Maybe we need another issue for no way to get out of creating a NEW post, as it seems the back button is only for editing existing posts. I will start a new issue.

[2017-03-20 17:57] kellim opened #193 "Add a way to cancel creating a new post"
When you login as an admin and select "New Post" from the  menu, there is no option to cancel creating that new post. The only options other than normal site navigation are two buttons "Preview" and "Save Article" at the bottom of the page.

Note: A "back" button was added when you are editing an existing post that takes you back to the dashboard, but it was not added to the New Post page.

[2018-06-27 19:32] #159 closed

[2022-02-10 18:52] #153 closed